@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: #2B3636;
}

header, footer {
    height: 60px;
   
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafa;
    Width: 100%;
    height: calc(100vh - 120px);
   
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    border: 1px solid #b1b1b8;
    gap: 30px;
    height: 600px;
    background: #ffffff;
}

.container h2 {
    font-size: 2.1em;
}

.container h3 {
    font-size: 0.8em;
    font-weight: 400;
}

.container h3 span a {
    text-decoration: none;
    color:#09A59A;
}

.container h3 span a:hover {
    color: #06423e; 
}

.inputBox {
    display: flex;
    flex-direction: column;
    gap: 13px;
    position: relative;
    width: 250px;
}










.box {
    position: relative;
    width: 300px;
}

.box .inputBox {
    position: relative;
    width: 100%;
    border-radius: 8px;
}

.box .inputBox input {
    position: relative;
    width: 100%;
    padding: 10px;
    border: 1px solid #b1b1b8;
    border-radius: 5px;
    color: black;
    font-size: 1em;
}

.box .inputBox #toggleBtn {
    position: absolute;
    top: 123px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: #fafafa;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.box .inputBox #toggleBtn::before {
    content: url('../resources/eye-outline.svg');
    width: 23px;
    height: 23px; 
}

.box .inputBox #toggleBtn.hide::before {
    content: url('../resources/eye-off-outline.svg');
    width: 23px;
    height: 23px; 
}

.validation {
    background: #3e586ed4;
    padding: 10px;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.15);
}

.validation ul {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.validation ul li {
    position: relative;
    list-style: none;
    color: #fff;
    font-size: 0.85em;
    transition: 0.5s;
}

.validation ul li::before {
    color: rgba(255,255,255,0.5);
}

.validation ul li::before {
    content: url('../resources/stop-circle-outline.svg');
    bottom: 10px;
    width: 20px;
    display: inline-flex;
}

.validation ul li.valid::before {
    content: url('../resources/checkmark-outline.svg');
    width: 20px;
}

button {
    width: 250px;
    height: 45px;
    font-size: 1.1em;
    border: none;
    border-radius: 30px;
    background: #00dfc4;
    cursor: pointer;
}

button:hover {
    background:#09A59A;
}

footer h3 {
    color: #ffffff;
    font-size: 1em;
    font-weight: 400;
    line-height: 6ch;
}

footer h3 span {
    color: red;
}